---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
    # Forces HTTPS
    ingress.kubernetes.io/ssl-redirect: "true"
    # Forces a Permanent (301) redirect
    ingress.kubernetes.io/redirect-permanent: "true"
    # Specifies a regex for which URLs to redirect
    ingress.kubernetes.io/redirect-regex: "^https://www.{{ domain }}/?(.*)"
    # Here is where redirected URLs will end up
    #   Notice the $3, which is the third capture
    #   group from the above regex
    ingress.kubernetes.io/redirect-replacement: "https://{{ domain }}/$1"
spec:
  ingressClassName: "{{ ingress_class }}"
  rules:
    - host: library.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: library-web
                port: 
                  number: 80
    - host: livedata.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: livedata-web
                port: 
                  number: 80
    - host: treatment.{{ domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: treatment-web
                port: 
                  number: 80
    - host: api.{{ domain }}
      http:
        paths:
          - path: "{{ library_core_path }}"
            pathType: Prefix
            backend:
              service:
                name: library-core
                port: 
                  number: 80
    - host: api.{{ domain }}
      http:
        paths:
          - path: "{{ livedata_core_path }}"
            pathType: Prefix
            backend:
              service:
                name: livedata-core
                port: 
                  number: 80
    - host: api.{{ domain }}
      http:
        paths:
          - path: "{{ treatment_core_path }}"
            pathType: Prefix
            backend:
              service:
                name: treatment-core
                port: 
                  number: 80
    - host: www.{{ domain }}
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: www-web
                port: 
                  number: 80
    - host: "{{ domain }}"
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: www-web
                port: 
                  number: 80
          - path: "/service"
            pathType: Prefix
            backend:
              service:
                name: www-service
                port: 
                  number: 80
  tls:
    - hosts:
        - "library.{{ domain }}"
        - "livedata.{{ domain }}"
        - "treatment.{{ domain }}"
        - "api.{{ domain }}"
        - "www.{{ domain }}"
        - "{{ domain }}"
      secretName: "{{ domain }}"
