---
apiVersion: v1
kind: Service
metadata:
  name: treatment-core
  labels:
    app: treatment-core
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: treatment-core
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: treatment-core
  labels:
    app: treatment-core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: treatment-core
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: treatment-core
    spec:
      restartPolicy: Always
      containers:
        - name: treatment-core
          imagePullPolicy: "{{ image_pull_policy }}"
          image: "{{ treatment_core_image }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ treatment_core_time }}"
            - name: PORT
              value: "{{ treatment_core_port }}"
            - name: BASE
              value: "{{ treatment_core_path }}"
            - name: MONGODB_CONNECTION
              value: "{{ treatment_core_mongodb_connection }}"
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: "{{ treatment_core_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          livenessProbe:
            httpGet:
              path: "{{ treatment_core_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"