---
apiVersion: v1
kind: Service
metadata:
  name: www-service
  labels:
    app: www-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8083
  selector:
    app: www-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: www-service
  labels:
    app: www-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: www-service
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: www-service
    spec:
      restartPolicy: Always
      containers:
        - name: www-service
          imagePullPolicy: "{{ image_pull_policy }}"
          image: "{{ www_service_image }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ www_service_time }}"
            - name: DATABASE_URL
              value: "{{ www_service_mysql_url }}"
            - name: DATABASE_USERNAME
              value: "{{ www_service_mysql_username }}"
            - name: DATABASE_PASSWORD
              value: "{{ www_service_mysql_password }}"
          ports:
            - name: http
              containerPort: 8083
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"